body{
  background:linear-gradient(to bottom right,#26798E,#26798E, #63CAA7, #FFE3B3 , #FFC172);
}

.navbar{
  background:linear-gradient(to bottom right,#26798E, #63CAA7)
}
footer{
  background:linear-gradient(#174855, #26798E);
}

.spotLight {
  width: 100%;
  height: 60vh;
}
.content {
  width: 17%;
  background-color: #FFE3B3;
}

.hover:hover {
  width: 20%;
  box-shadow: #26798E .3rem .3rem;
  transition: 1s;
  background-color: #FFC172;
}

.bgGradient{
  background: linear-gradient(#00000000, #0000005b, #000000);;
}